body {
    margin: 0;
    background-color: #a9cca3;
  }
  .grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr;
  }
  h1 {
    margin: 0;
    text-align: center;
  }
  header {
    background-color: #314f2b;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1e311b;
  }
  .nav-btn {
    width: 2rem;
    margin-top: 0.25rem;
  }
  #hm-btn:hover,
  #ab-btn:hover,
  #pro-btn:hover,
  #con-btn:hover {
    background-color: lightgreen;
  }
  
  #about {
    margin: 0.25rem 1rem;
  }
  .title {
    text-align: center;
  }
  .project-text {
    text-align: center;
  }

  ul {
    padding-left: 0px;
  }
  
  footer {
    margin-bottom: 4rem;
  }
