.profile-pic {
    width: 10rem;
    height: 10rem;
    border-radius: 5rem;
    display: block;
    margin: 1rem auto;
  }
  #imgs {
    width: 100%;
    position: fixed;
    top: 20%;
    left: 0;
  }